* {
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 1600px;
}

.responsive-table {
    width: 100%;
    overflow-x: auto;
}

table caption {
    text-align: left;
    caption-side: top;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0;

}

table td, table th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

tfoot td, table th {
    background-color: #ddd;
}