@charset "UTF-8";

/* EM HTML É ID = EM CSS É # (Somente um elemento)
EM HTML É CLASS = EM CSS É . (Varios elementos) */

h1 {
    text-align: center;
}

#Primeiro {
    color: black;
    text-align: justify;
    background-color: blanchedalmond;
}

#Segundo {
    text-align: justify;
    background-color: aquamarine;
}

#Terceiro {
    text-align: justify;
    color: white;
    background-color: blue;
}

.ModifyCaracteristica {
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}